body{
  font-family: sans-serif;
  font-size: 16px;
  background-color: #fff;
}
.wrapper{
  max-width: 1800px;
  margin: 0 auto;
}
.menu{
  display: flex;
  justify-content: space-between;
}
.tel-block{
  display: flex;
  align-items: center;
  color: #ffffff;
}
.tel{
  padding-left: 0.625rem;
}

